@{
    ViewData["Title"] = "Classes";
}
<body>
    <h1>Classes</h1>
</body>
<div id="wrapperDiv">

    <div id="div1" style="padding:20px;float:left" class="col-sm-10">
        <table class="table table-bordered table-striped">
            <colgroup>
                <col span="1" style="width: 50%">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <thead>
                <tr>
                    <th>Class Name</th>
                    <th>Start Time</th>
                    <th>Length</th>
                    <th></th>
            </thead>
            <tbody>
                @foreach (var C in Model.Classes)
                {
                    <tr>
                        <td>@C.ClassName</td>
                        <td>@C.ClassStartTime</td>
                        <td>@C.ClassLength Hour(s)</td>
                        <td>
                            <form asp-action="DeleteClass" method="post">
                                <input type="hidden"
                                       name="@nameof(Class.ClassId)" value="@C.ClassId" />
                                <button type="submit"
                                        class="btn btn-primary btn-sm">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <<div id="div2" style="padding:20px;float:left">
        <a asp-controller="Event" asp-action="AddClass">
            <img class="" src="~/images/AddButtonIcon.png" alt="Import From Canvas Button" width="60" height="60" />
        </a>
    </div>
    <<div id="div3" style="padding:20px;float:left">
        <a asp-controller="Event" asp-action="CanvasList">
            <img class="" src="~/images/CanvasIcon.png" alt="Import From Canvas Button" width="70" height="70" />
        </a>
    </div>
</div>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js'></script>
<div id="calendar">

</div>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            // options here
        });
    });
</script>